*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#stock-data{
    height: 100vh;
    width: 100vw;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.charts{
    height: 70vh;
    width: 80vw;
}